* {
    margin: 0px;
    padding: 0px;
    background-color: black;
  }
  
  
  
  #navbar {
    display: flex;
    align-items: center;
    position: sticky;
    width: -webkit-fill-available;
  }
  
  #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    
  }
  
  #logo {
    margin: 15px 30px;
  }
  
  #logo img {
    height: 56px;
    margin: 5px 12px;
  }
  
  #navbar ul {
    padding-left: 600px;
    display: flex;
    list-style: none;
  }
  
  #navbar ul li {
    font-size: 1.3rem;
    list-style: none;
  }
  
  #navbar ul li a {
    color: teal;
    display: block;
    padding: 3px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: color 1s ease;
    transition: background-color 1s ease-out;
  }
  #navbar ul li a:hover {
    color: black;
    background-color: teal;
    
  }

  @keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

h1 {
    animation: slideIn 1s ease-in-out;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: teal;
    text-shadow: 2px 2px rgb(250, 253, 253);
}

  .catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 30px;
  }
  
  .item {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 400px;
    position: relative;
    transition: transform 0.3s ease-out;
  }
  .item img{
    border-radius: 5px;
  }
  .item:hover {
    box-shadow: 0 0 20px white;
    transform: translateY(-10px);
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.item p {
      border-radius: 5px;
      padding: 5px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    .item a {
      border-radius: 5px;
    display: inline-block;
    background-color: white;
    color: teal;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
  }
  
  .item a:hover {
    background-color: teal;
    color: white;
  }
  
  
   #footer{
    color: white;
    height: 300px;
    text-align: center;
  }
 #footer p{
    font-size: 40px;
    padding-top: 40px;
  }

  #footer div{
    font-size: 18px;
    padding: 20px 275px;
  }
  .footer-item{
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .footer-item li a{
    font-size: 25px;
    padding: 0px 15px;
    text-decoration: none;
    color: white;
    transition: color .4s ease;
  }

.footer-item li a:hover{
color: aqua;
text-decoration: underline;
  }

  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.socials li{
    margin: 0 10px;
    padding-top: 10px;
}
.socials a{
    text-decoration: none;
    color: #faf7f7;
    border: 1.1px solid rgb(249, 248, 248);
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(0, 255, 255);
}

.copy{
  font-size: 5px;
} 